// :root {
//   --color-pink: #dd989a;
// }

// theme-color
@color-pink: #fa9daf;
@color-gray: #e7e7e7;

// position
@height-navigation: 44px;
@height-second-navigation: 50px;
@height-calendar: 42px;
